@page "/replies/create"

@inject HttpClient Http
@inject NavigationManager NavManager

<EditForm Model="ReplyModel" OnValidSubmit="CreateReply">
  <DataAnnotationsValidator />

  <ValidationSummary />

    <div class="form-group">
      <label>Your Reply:</label>
      <InputTextArea @bind-Value="ReplyModel.Body" class="form-control" placeholder="Enter your reply here..." />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-secondary" type="reset" @onclick="BackToList">Cancel</button>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public int PostId { get; set; }

    private ReplyModel ReplyModel = new ReplyModel();
    private PostModel PostModel = new PostModel();

    private async Task CreateReply()
    {
        var reply = new ReplyModel
        {
            Id = ReplyModel.Id,
            PostId = PostModel.Id,
            Body = ReplyModel.Body,
            DateReplied = DateTime.UtcNow,
            Deleted = false
        };

        var response = await Http.PostAsJsonAsync("api/posts/reply", reply);
        if(response != null)
        {
            BackToList();
        }
    }

    protected void BackToList()
    {
        NavManager.NavigateTo("/posts/");
    }

}