@page "/posts/details/{Id:int}"

@inject IPostService PostService
@inject IReplyService ReplyService

<h5>@_postModel.Title</h5>
<p>@_postModel.Body</p>

@* @foreach (var replies in _postModel.Replies) *@
@* { *@
@*     <p>@replies.Body</p> *@
@* } *@


@code {
    [Parameter]
    public int Id { get; set; }

    private PostModel _postModel = new PostModel();
    private ReplyModel _replies = new ReplyModel();

    protected override async Task OnInitializedAsync()
    {
        _postModel = await PostService.GetSingle(Endpoints.PostsEndpoint, Id);
        _replies = await ReplyService.GetSingle(Endpoints.PostsEndpoint, Id);
    }
}
