@inject IPostService PostService

<h3 class="text-center scoring">
    <button class="btn btn-link btn-lg p-0 d-block mx-auto" @onclick="UpVote">
      <i class="oi oi-chevron-top"></i>
    </button>
    <span class="d-block mx-auto"> @Score </span> 
    <button class="btn btn-link btn-lg p-0 d-block mx-auto" @onclick="DownVote">
      <i class="oi oi-chevron-bottom"></i>
    </button>
  </h3>

@code {
    [Parameter]
    public int Id { get; set; }

    public int Score = 0;

    private PostModel _postModel = new PostModel();

    protected override async Task OnInitializedAsync()
    {
      _postModel = await PostService.GetSingle(Endpoints.PostsEndpoint, Id);
    }

    private void UpVote()
    {
      _postModel.Score += 1;
    }

    private void DownVote()
    {
      _postModel.Score -= 1;
    }
}