@inherits PostBase
@page "/posts"

<a href="/posts/create/" class="btn btn-primary p-2 m-2">
    <span class="oi oi-pencil"></span> 
    Add A Post
</a>
@if (PostModelList == null)
{
    <p>Loading data...</p>
}
else
{
    @foreach (var post in PostModelList)
    {
        <li class="card container p-2 m-2">
            <div class="card-body row">
                <h3 class="text-center">
                    <span class="d-block mx-auto"> @post.Score </span>
                </h3>

                <div class="col-11">
                    <h5 class="card-title">@post.Title</h5>
                    <p>@post.Body</p>
                    <a href="/posts/details/@post.Id" class="card-link">
                        View post
                        <span class="badge badge-success">replies: @post.Replies.Count()</span>
                    </a>
                </div>
            </div>
        </li>
    }
}