@inherits PostBase
@page "/posts/details/{Id:int}"

@inject IPostService PostService

@if (PostModel == null)
{
    <p>Loading data...</p>
}
else
{
    <h5>@PostModel.Title</h5>
    <p>@PostModel.Body</p>
    @if (PostModel.Replies == null || !PostModel.Replies.Any())
    {
        <p>No replies yet for this post...</p>
    }
    else
    {
        @foreach (var replies in PostModel.Replies)
        {
            <p>@replies.Body</p>
        }  
    }
    
    <button class="btn btn-primary" @onclick="(() => AddReply(PostModel.Id))">
         <span class="oi oi-pencil"></span> Add A Reply
    </button>

    <div class="col-md-4">
        @if (showReplyBody)
        {
            <AddReply Id="@PostModel.Id" OnAddReply="HandleOnAddReply"></AddReply>
        }
    </div>
}

@code {
    private bool showReplyBody = false;

    protected override async Task OnInitializedAsync()
    {
        PostModel = await PostService.GetSingle(Endpoints.PostsEndpoint, Id);
    }

    private void AddReply(int id)
    {
        id = PostModel.Id;
        showReplyBody = true;
    }

    private void HandleOnAddReply()
    {
        showReplyBody = false;
    }
}

