@page "/posts/details/{Id:int}"

@inject IPostService PostService

@if (_postModel == null)
{
    <p>Loading data...</p>
}
else
{
    <h5>@_postModel.Title</h5>
    <p>@_postModel.Body</p>
    @if (_postModel.Replies == null || !_postModel.Replies.Any())
    {
        <p>No comments yet for this post...</p>
    }
    else
    {
        @foreach (var replies in _postModel.Replies)
        {
            <p>@replies.Body</p>
        }  
    }

}

@code {
    [Parameter]
    public int Id { get; set; }

    private PostModel _postModel = new PostModel();

    protected override async Task OnInitializedAsync()
    {
        _postModel = await PostService.GetSingle(Endpoints.PostsEndpoint, Id);
    }
}
