@inherits PostBase
@page "/posts/details/{Id:int}"

@inject IPostService PostService

@if (PostModel == null)
{
    <p>Loading data...</p>
}
else
{
    <h5>@PostModel.Title</h5>
    <p>@PostModel.Body</p>
    @if (PostModel.Replies == null || !PostModel.Replies.Any())
    {
        <p>No comments yet for this post...</p>
    }
    else
    {
        @foreach (var replies in PostModel.Replies)
        {
            <p>@replies.Body</p>
        }  
    }
    
    <a class="btn btn-primary" href="/replies/create">
         <span class="oi oi-pencil"></span> Add A Reply
    </a>
}

