@page "/posts"

@inject IPostService _postService

@if (_postModel == null)
{
    <p>Loading data...</p>
}
else
{
    @foreach (var post in _postModel)
    {
        <li class="card container p-2 m-2">
            <div class="card-body row">
                <PostScore />
                <div class="col-11">
                    <h5 class="card-title">@post.Title</h5>
                    <p>@post.Body</p>
                    <a href="/posts/details/@post.Id" class="card-link">
                        View post
                        <span class="badge badge-success">replies: @post.Replies.Count()</span>
                    </a>
                </div>
            </div>
        </li>
    }
}

@code {
    private IList<PostModel> _postModel;

    protected override async Task OnInitializedAsync()
    {
        _postModel = await _postService.GetAll(Endpoints.PostsEndpoint);
    }
}